#Cypress
.cache/Cypress
node_modules/
cypress/screenshots/
cypress/videos/
cypress/logs/
cypress/results/
cypress.env.json
cypress.env.local.json
cypress.env.main.json 
cypress\e2e\APItesting\authentications.cy.js
cypress\e2e\APItesting\OAuth2.cy.js